extends layout


block content

  a.hide(href='https://github.com/anders94/blockchain-demo/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork of ')
  .container
    h1 Fork of Blockchain Demo
    h5 #{__('Distributed Fog Sync Log')}
  .container.step2    
    h2 Step 2
    - var peers = {1: 'Fog A', 2: 'Fog B'}
    - each peer, chain in peers
      .col-xs-6
        h3 LOG - #{peer}
        ul.pki
          - var blocks = []

          - var bsp1 = {nonce: {1: 30792, 0: 43171}, previous: '6f1db6a2970c7c20dcc53664e5850df7d8554c12c7fc06aaab0796e2c3937e8a'}
          - var txn1 = [{value: '97.67', from: 'Ripley', to: 'Lambert'}, {value: '92.00', from: 'John', to: 'Lambert'}]
          - var prev1 = "9e76bf06a64e48e24167b980c51e7c34b2bb6514927541e7907d7c96176dc7bc"
          - var h1 = "0000d69a4e7d377b71251b337b912334c6586f6c3b519d3de82f9df080eb4eec"


          - var txn2 = [{value: '97.67', from: 'Ripley', to: 'Lambert'},{value: '10.00', from: 'John', to: 'Apone'}]
          - var h2 = "00007f9c6e5321469ba5f56931fa5dee24bd187fb838e7f9a88c045995c5131c"

          - blocks.push({block: 2, chain: chain, nonce: 39207, txs: chain / 2 < 0 ? txn1 : txn2  , previous: '00000c52990ee86de55ec4b9b32beefd745d71675dc0eddfbc7b88336e2e296b'})

          - var bsp2 = {nonce: {1: 36280, 0: 50550}, previous: {1: '00005c42a609f2a52699285222fef70cf1a6bcdd30f0da3e43bc7c011ebedf01', 0:'0000d540dfd9e14e56db99d7701d7ae1e1631b2bdb12438da45406cfa40bcd90'}, txn: {1: [{value: '97.67', from: 'Ripley', to: 'Lambert'},{value: '92.00', from: 'John', to: 'Lambert'},{value: '92.00', from: 'John', to: 'Apone'}], 0: [{value: '97.67', from: 'Ripley', to: 'Lambert'},{value: '92.00', from: 'John', to: 'Apone'}]}}

          - blocks.push({block: 3, chain: chain, nonce: bsp1.nonce[chain % 2], txs: chain % 2 == 1 ? txn1 : txn2 , previous: bsp1.previous})
          - blocks.push({block: 4, chain: chain, nonce: bsp2.nonce[chain % 2], txs: bsp2.txn[chain % 2], previous: bsp2.previous[chain % 2]})
          each block, index in blocks
            li.row.row-horizon
              div(class="log-step-"+chain+"-"+index)
                include includes/demo-block.jade

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val();
      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
